<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script>


export default {
  name:"app",
  components: {
  },
  
}
</script>


<style>

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Cormorant:400,400i,500,600,700&display=swap'); */
html, body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  min-height: 100%;
  /* font-family: 'Cormorant', serif; */
}

body {
    position: relative; /* needed for the overlay to extend when you scroll */
    /* general styles */
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

}

#app {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Cormorant', serif; */
}

</style>
