
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
  font-style: normal;
  font-weight:900;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf') format('truetype');
  font-style: normal;
  font-weight:900i;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight:700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight:700i;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight:400;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format('truetype');
  font-style: normal;
  font-weight:400i;
}
