<template>
  <v-container>
    <v-col cols=8>
    <v-subheader>Tempo</v-subheader>
      <v-card-text>
        <v-range-slider
          class="align-center" 
          step=0.01
          max=1
          min=0
          v-model="tempo"
        ></v-range-slider>
      </v-card-text>
    </v-col>
  </v-container>
 
  

</template>