<template>
    <div id="navigationBar">
      <v-container class="content-contain">
        <v-toolbar extended extension-height="20px" elevation="0">
            
            <div class="logo">
              <router-link to="/">
                <img src="../assets/AudioLytics.png" height="40">
              </router-link>
            </div>
            <v-spacer></v-spacer>
              <div class="route-icon">
                <router-link to="/SecondDashboard">
                  <v-btn  icon>
                    <v-icon>mdi-magnify</v-icon>
                  </v-btn>
                  </router-link>
              </div>
              <div class="route-icon">
                <router-link to="/">
                  <v-btn  icon>
                    <v-icon>mdi-home</v-icon>
                  </v-btn>
                </router-link>
              </div>
              <div class="route-icon">
                <router-link to="/about">
                <v-btn  icon>
                  <v-icon>mdi-information</v-icon>
                </v-btn>
                </router-link>
              </div>
              <div v-on:click="showSignIn">
                <v-btn outlined>Sign Up</v-btn>
              </div>
        </v-toolbar>
      </v-container>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name:"navigationBar",
  data() {
    return {
      show: false,
      firstClick: false,
    }
  },
  methods: {
    showSignIn: function() {
        if(this.sign_in_state == true ){
            this.$store.commit('dialogSignInChange', false)
          }
          else{
            this.$store.commit('dialogSignInChange', true)
          }
              
        
    },
    },
    computed: {
      ...mapGetters({
        sign_in_state: 'dialog_signinShowing',
      })
      
      }
}
</script>

<style lang="scss">
  .logo img {
    object-fit: contain;
    float: left;
  }
  .route-icon a {
    text-decoration: none;
  }
  #search-box {
    border: 0;
  }
  .custom.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none;
}
  .custom.v-text-field>.v-input__control>.v-input__slot:after {
    border-style: none;
  }

  .content-contain {
    max-width: 80%;
  }
</style>




