<template>
  <div class="visual-div">
    <v-container>
      <v-divider></v-divider> 
      <v-divider></v-divider> 
      <v-row align-content="center">
        <v-flex xs-12 class="text-center intro enlarge">
        <p>
          Choose your filters.
        </p>
      </v-flex>
      </v-row>
      <v-row align-content="center">
        <v-flex xs-12 class="text-center intro medium-large">
        <p>
          Add as many filters as you want to any of your favorite artists.
        </p>
      </v-flex>
      </v-row>
      <div class="filters-card">
          <v-card
            class="mx-auto"
            max-width="800"
            flat
          >
          <v-container fluid>
            <v-form>
               <v-row align-content="center" dense>
                <v-col cols=3 align-self="center" class="text-center button-col">
                    <v-checkbox v-model=artistName.active>
                    </v-checkbox>  
                </v-col>
                <v-col cols=1>
                  <v-divider vertical></v-divider>
                </v-col>
                <v-col cols=8>
                  <v-card-text>
                    <v-text-field
                    v-model=artistName.name
                    label="Artist Name"
                    required></v-text-field>
                  </v-card-text>
                </v-col>
              </v-row>
              <!-- <v-row dense align-content="center"> 
                  <v-col cols=3 align-self="center" class="text-center button-col">
                      <v-select
                        :items="headers"
                        label="Outlined style"
                        outlined
                      ></v-select>
                  </v-col>
                  <v-col cols=1>
                      <v-divider vertical></v-divider>
                  </v-col>
                  <v-col cols=8>
                  <v-card-text>
                    <v-range-slider
                        class="align-center" 
                        step=0.01></v-range-slider>
                  </v-card-text>
                  </v-col>
                </v-row> -->
                <v-row v-for="(filter, index) in header_map" :key=index dense align-content="center" class="ghost"> 
                
                    <v-checkbox v-model=filter.active>
                    </v-checkbox>  
                  <span>{{filter.name}}</span>
                <v-col cols=8>
                <v-card-text>
                  <v-range-slider
                      v-model="filter.range"
                      class="align-center" 
                      step=0.001 :min=filter.minValue :max=filter.maxValue >
                      <template v-slot:prepend>
                        <v-text-field
                          v-model="filter.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          v-model="filter.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                        ></v-text-field>
                      </template>
                      </v-range-slider>
                </v-card-text>
                </v-col>
                  <!-- <v-col align-self="center" class="text-center" cols=3> 
                    <v-btn
                      outlined
                    >header</v-btn>
                  </v-col>
                  <v-col cols=1>
                    <v-divider vertical></v-divider>
                  </v-col>
                <v-col cols=8>
                <v-subheader>header.value</v-subheader>
                  <v-card-text>
                    <v-range-slider
                      class="align-center" 
                      step=0.01
                      max=line.minValue
                      min=line.maxValue
                    ></v-range-slider>
                  </v-card-text>
                </v-col> -->
              </v-row>
              <v-checkbox v-model=dateRange.active>
                    </v-checkbox>  <span>Date Range</span>
              <v-row justify="center">
                    <v-date-picker v-model="dateRange.range" range></v-date-picker>              
              </v-row>
              <v-row align-content="center">
                  <v-col class="text-center">
                    <v-btn outlined v-on:click="sendFilterRequest"> Find Songs </v-btn>
                </v-col>
              </v-row> -->
            </v-form>
          </v-container>
          </v-card>
        </div>


    
    
    
    <v-row align-content="center">
      <v-col class="text-center intro enlarge">
        <p>
          Track List
        </p>
      </v-col>
    </v-row>
    <v-divider></v-divider> 
    <v-divider></v-divider> 
    <div class="add-space">
          <v-data-table
      :headers="headers"
      :items="tracks"
      :items-per-page="5"
      class="elevation-3"
      calculate-widths
    ></v-data-table>
    </div>

    </v-container>

  </div>
    
</template>

<script>
  import axios from "axios"
  export default {
    name:"StatsVisual",
    data ()  {
        return {
          itemsPerPage: 4, 
          itemsPerPageOptions: [4, 8, 12],
          lines:[],
          blockRemoval: true,
          tracks: [],
          headers: [],
          filters_in_use:[],
          fil: [ 'liveness', 'tempo', 'valence', 'instrumentalness', 'acousticeness', 'speechiness', 'danceability', 'energy', 'loudness'],
          toggle_exclusive:[],
          header_map: [
            {name: "liveness", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1},
            {name: "tempo", range: [0, 300], active: false, value: 0.0, minValue: 0, maxValue: 300}, 
            {name:"valence", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1}, 
            {name: "instrumentalness", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1},
            {name: "acousticeness", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1}, 
            {name:"speechiness", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1},
            {name:"danceability", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1},
            {name:"energy", range: [0, 1], active: false, value: 0.0, minValue: 0, maxValue: 1},
            {name:"loudness", range: [-60, 0], active: false, value: 0.0, minValue: -60, maxValue: 0},
          ],
          filter_inputs: [],
          artist_inputs:[],
          num_rows: 1,
          artistName:{
            name:"",
            active:false
          },
          dateRange:{
            active:false,
            range: ['2000-01-01', '2019-12-12']
        }
      }
    },
      mounted(){
        axios.get('http://34.69.198.71/api/Track/read.php', {
            params: {
              "track-name": "p"
            }
          })
          .then(response => {
            this.tracks = response.data.records
            this.headers = response.data.headers})
          .catch(function(error) {
            console.log(error);
          });
    },

    
    methods: {
      sendFilterRequest: function(){
        axios.get('http://34.69.198.71/api/Track/filtered.php?', {
            params: {
              "artistName":this.artistName.active === true ? this.artistName.name:"",
              "liveness":this.header_map[0].active === true ? {"minimum":this.header_map[0].range[0],"maximum":this.header_map[0].range[1]}:{"minimum":0,"maximum":1},
              "tempo":this.header_map[1].active === true ? {"minimum":this.header_map[1].range[0],"maximum":this.header_map[1].range[1]}:{"minimum":0,"maximum":300},
              "valence":this.header_map[2].active === true ? {"minimum":this.header_map[2].range[0],"maximum":this.header_map[2].range[1]}:{"minimum":0,"maximum":1},
              "instrumentalness":this.header_map[3].active === true ? {"minimum":this.header_map[3].range[0],"maximum":this.header_map[3].range[1]}:{"minimum":0,"maximum":1},
              "acousticeness":this.header_map[4].active === true ? {"minimum":this.header_map[4].range[0],"maximum":this.header_map[4].range[1]}:{"minimum":0,"maximum":1},
              "speechiness":this.header_map[5].active === true ? {"minimum":this.header_map[5].range[0],"maximum":this.header_map[5].range[1]}:{"minimum":0,"maximum":1},
              "danceability":this.header_map[6].active === true ? {"minimum":this.header_map[6].range[0],"maximum":this.header_map[6].range[1]}:{"minimum":0,"maximum":1},
              "energy":this.header_map[7].active === true ? {"minimum":this.header_map[7].range[0],"maximum":this.header_map[7].range[1]}:{"minimum":0,"maximum":1},
              "loudness":this.header_map[8].active === true ? {"minimum":this.header_map[8].range[0],"maximum":this.header_map[8].range[1]}:{"minimum":-60,"maximum":0},
              "dateReleased":this.dateRange.active === true ? {"startDate":this.dateRange.range[0],"endDate":this.dateRange.range[1]} : "null"
            }
      }).then(response => {
            this.tracks = response.data.records
            this.headers = response.data.headers})
          .catch(function(error) {
            console.log(error);
          });
  }
  }
    

    
  }
</script>

<style>
.check-fit {
    overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em;


}
.card-title {
  justify-content: center;
}
.enlarge {
  font-size: 70px;

}
.add-space {
  padding-top: 5%;
}
.v-divider {
  border-style: solid !important;
  color: #2B2B2B;
}

.medium-large {
  font-size: 30px;
}
/* .ghost {
  display: none;
} */

</style>