<template>
<v-dialog :value="visible" max-width="40%">
  <div class="sign-in-card">
    <v-card
      class="mx-auto"
      flat>
      <v-container class="content-contain">
        <v-row align-content="center">
          <v-flex xs-col-12 class="text-center">
            <h1>Create an AudioLytics <br> account</h1>
          </v-flex>
        </v-row>
        
        <v-form
          v-model="valid"
          lazy-validation
          ref="form"
          class="form">
          <v-text-field
            v-model="username"
            label="Username"
            required>
          </v-text-field>
          
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="Email"
            required>
          </v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            required
            counter>
          </v-text-field>
        <v-row align-content="center" class="button-row">
          <v-flex xs-col-12 class="text-center btn-container">
            <v-btn outlined v-on:click="checkUnique" id="validater">Sign Up</v-btn>
          </v-flex>
        </v-row>
        <v-row>
          <v-flex xs-col-12 class="text-center btn-container">
                 
          </v-flex>
        </v-row>
        </v-form>

      </v-container>
    </v-card>
  </div>
  </v-dialog>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex'

export default {
  name: "SignUpCard",
  props: {
    showModel: {
      type: Boolean,
      default: false
    }

  },
  data() { 
    return {
      valid: true,
      email: '',
      password:'',
      passwordconfirm:'',
      username: '',
      show_alert: false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must be greater than 8 characters long'
      ],
    }
  },
  methods: {
    toggle: function() {
        this.$store.commit('dialogChange')
      },
    validate () {
        if (this.$refs.form.validate()) {
          console.log('here');
          this.checkUnique
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    checkUnique: async function checkUnique() {
        try{ 
          let res = await axios.get('http://34.69.198.71/api/User/read.php?', {
            params: {
              "username": this.username,
              "password": this.password,
              "email": this.email,
            }
          })
                                  
          if(res.status == 200) {
            console.log(res.status)
            this.$router.push('/dashboard')
          }
          return res.data
        }
        catch (err) {
          console.error(err);
          this.resetValidation();
      }
    checkUnique()
    .then(res => console.log(res))
    }
  },





          // let result = await promise;
          // if(result.data.bool == true){
          //   this.$router.push('/dashboard')
          //   return true
          // }
          // else {
          //   this.resetValidation()
          //   return false
          // },
computed: {
      ...mapGetters({
        visible: 'dialogShowing',
      })
    }
// computed: {
//         showModel: function()  {
//             console.log(this.$store.getters.dialog)
//             return this.$store.getters.dialog;
//         }
//     }
  }
</script>

<style scoped>
  .content-contain{
    align-content: center;
  }

  .sign-in-card {
    height: 500px;
    background-color: white;


  }
  .button-row {
    padding-top: 3%;
  }

#validater {
    width: 60%;
    font-size: 14px;
}

</style>