<template>
<v-dialog :value="visible_signin" max-width="40%">
  <div class="sign-in-card">
    <v-card
      class="mx-auto"
      flat>
      <v-container class="content-contain">
        <v-row align-content="center">
          <v-flex xs-col-12 class="text-center">
            <h1>Sign Back in to<br> AudioLytics</h1>
          </v-flex>
        </v-row>
        <v-form
          v-model="valid"
          lazy-validation
          ref="form"
          class="form">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="Email"
            required>
          </v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            required
            counter>
          </v-text-field>
        <v-row align-content="center" class="button-row">
          <v-flex xs-col-12 class="text-center btn-container">
            <v-btn outlined id="validater" @click="validate">Sign In</v-btn>
          </v-flex>
        </v-row>
        </v-form>

      </v-container>
    </v-card>
  </div>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "SignInCard",
  data() { 
    return {
      valid: true,
      email: '',
      password:'',
      passwordconfirm:'',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must be greater than 8 characters long'
      ],
    }
  },
  methods: {
    validate () {
        if (this.$refs.form.validate()) {
                this.$router.push('/dashboard')
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
      toggle: function( ) {
        this.$store.commit('dialogSignInChange')
      }
    },
    computed: {
      ...mapGetters({
        visible_signin: 'dialog_signinShowing'
      })
    }
  }
</script>

<style scoped>
  .content-contain{
    align-content: center;
  }

  .sign-in-card {
    height: 500px;
    background-color: white;


  }
  .button-row {
    padding-top: 3%;
  }

#validater {
    width: 45%;
    font-size: 14px;
}

</style>