<template>
  <div class="Start_Up_Dashboard">
    <NavigationBar></NavigationBar>
    <v-container class="content-contain">
        <v-row align-center>
                <v-flex xs-12 class="text-center intro" id="playfair">
                  <p>Welcome to your<br> AudioLytic <i class="fa fa-first-order" aria-hidden="true"></i> Dashboard</p> 
                </v-flex>
        </v-row>
        <StatsVisual></StatsVisual>
    </v-container>

  
  </div>
  
  
</template>

<script>
import NavigationBar from "@/components/NavigationBar"
import StatsVisual from "@/components/StatsVisual"

export default {
  name: "Start_Up_Dashboard",
  components: {
    NavigationBar,
    StatsVisual,

  }


}
</script>

<style>

.Start_Up_Dashboard {
  background-color: white;
  min-height: 100%;
}
  #playfair {
    color: #2B2B2B;
    font-size: 70px;
  }

</style>