
<template>
    <div class="home">
      <SignUpCard></SignUpCard>
      <SignInCard></SignInCard>
      <NavigationBar></NavigationBar>
      <v-container class="content-contain">
        <v-row align-center>
                <v-flex xs-12 class="text-center intro" id="playfair">
                  <p>Let's find the music thats <br> right for you.</p> 
                </v-flex>
        </v-row>
        <v-row align-content="center">
              <v-flex xs-6 class="text-center short-blurb">
                <p> 
                  AudioLytics is dedicated to giving its users the best platform for finding new music while 
                  also giving them total control. <br> You tell us what you like and we will find it.
                </p>
              </v-flex>
        </v-row>
        <div class="sign-in-card">
            <v-card
              class="mx-auto"
              max-width="800"
              flat
            >
              <v-container fluid>
                <v-row dense>
                  <v-col>
                    <v-card flat tile>
                      <p> 
                        <span class="card-head">New to AudioLytics?</span> 
                        <br>
                        Let's get you started.
                      </p>
                      <div class="route-btn">
                        <v-btn outlined class="sign" v-on:click="showSignUp">
                          <span>New User</span>
                        </v-btn>
                      </div>
                    </v-card>
                  </v-col>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-col>
                    <v-card flat tile>
                      <p> 
                        <span class="card-head">Already a user? </span> 
                        <br>
                        Sign back in here.
                      </p>
                      <div class="route-btn sign-in-btn">
                          <v-btn outlined class="sign" v-on:click ="showSignIn">
                            <span>Sign In</span>
                          </v-btn>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </div>
      </v-container>
    </div>            
  </template>

<script>
// @ is an alias to /src
import NavigationBar from "@/components/NavigationBar"
import SignUpCard from "@/components/SignUp"
import SignInCard from "@/components/SignInForm"
import { mapGetters } from 'vuex'

export default {
  name: 'home',
  components: {
    NavigationBar,
    SignUpCard,
    SignInCard,
  
  },
methods: {
  showSignUp: function() {
      if(this.sign_up_state == true ){
                this.$store.commit('dialogChange', false)
              }
      else {
        this.$store.commit('dialogChange', true)

      }
              
        
    },
  showSignIn: function() {
    if(this.sign_in_state == true ){
                this.$store.commit('dialogSignInChange', false)
              }
    else {
      this.$store.commit('dialogSignInChange', true)

    }
            
        
    }
    },
    computed: {
      ...mapGetters({
        sign_in_state: 'dialog_signinShowing',
        sign_up_state: 'dialogShowing'
      })
      
      }
    }

</script>

<style scoped lang="scss">


// .content-contain {
//   display: flex;
// }
.home {
  background-color: white;
  min-height: 100%;
}

#playfair {
    color: #2B2B2B;
    font-size: 70px;
    // font-weight: 700;
  }

.v-card {
  text-align: center;
}

#sign {
  width: 20px;
}
.route-btn a {
  text-decoration: none;
}

.sign-in-card {
  padding-top: 40px;
}
.card-head {
  font-size: 30px;
}

.short-blurb {
  padding-top: 3%;
}
</style>