<template>
<div class="Row-Iterator">


<v-data-iterator
        :items =  "tracks"
        :items-per-page.sync="itemsPerPage"
        :footer-props="{ itemsPerPageOptions }"
    >
    <template v-slot:default="props">
      <v-row>
          <v-col
            v-for="item in props.items"
            :key="item.name"
            :items-per-page.sync="itemsPerPage"
            cols="12"
            sm="6"
            md="4"
            lg="3"
          >
              <v-card>
              <v-card-title>
                <v-flex class="card-top" >
                  <h5>{{ item.name }}</h5>
                </v-flex>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense>
                    <v-list-item>
                      <v-list-item-content>Date Released:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.date_released }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Liveness:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.liveness }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Tempo:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.tempo }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Valence:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.valence }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Instrumentalness:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.instrumentalness }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Acousticeness:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.acousticeness }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Speechiness:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.speechiness }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Danceability:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.danceability }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Energy:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.energy}}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>Loudness:</v-list-item-content>
                      <v-list-item-content class="align-end">{{ item.loudness}}</v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-col>
            </v-row>
            </template>
          </v-data-iterator>
          </div>
</template>

<script>
import axios from 'axios'
export default {

  name:"Row-Iterator",
  data() { return {
    headers: [],
    tracks: [],
    itemsPerPageOptions: [4, 8, 12],
    itemsPerPage: 4,
  }
    
  },
  mounted(){
    axios.get('http://34.69.198.71/api/Track/read.php', {
            params: {
              "track-name": "p"
            }
          })
          .then(response => {
            this.tracks = response.data.records
            this.headers = response.data.headers})
          .catch(function(error) {
            console.log(error);
          });
    },
  }
  
</script>

      